.main-center, .left, .right{
  font-family: 'Karla', sans-serif;
  font-weight: 400;

}

.main-center{
  padding-top: 100px;
  padding-left: 400px;
  padding-right: 400px;
}


/*selfdivision*/

.up{
  background-color: hsl(204, 43%, 93%);
  padding: 30px 70px 30px 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.left{
  background-color: hsl(179, 62%, 43%);
  flex-basis: 368px;
  padding: 30px 30px 60px 40px;
  color:#fff;
}

.right{
  background-color: hsl(218, 22%, 67%);
  flex-basis: 368px;
  padding: 30px 30px 60px 40px;
  color:#fff;
}

/*span and other things*/

.joining{
  font-size: 32px;
  font-weight: 700;
}

.guarantee{
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}


/*upper-css*/

.joining{
  color:hsl(179, 62%, 43%);
}

.guarantee{
  color:hsl(71, 73%, 54%);
}

.description{
  text-align:justify;
  line-height: 2;
}

/*flexing object in the bottom*/
.down{
  display: flex;
}

/*for the left*/
.price{
  font-size: 32px;
  line-height: 2;
}

.price-description{
  margin-bottom: 25px;
}

/*for the right*/
.what-you-get{
  line-height: 1.5;
}


/*media
and (max-height: 1920px)
and (max-width: 1080px)*/
@media screen
  and (max-width: 1209px)
  {
    .joining, .guarantee, .description{
      margin-top: 10px;
      margin-left: 10px;
    }

    .description{
      margin-right: 10px;
    }

    .guarantee{
      margin-top: 20px;
    }


    .down{
      display: block;
      text-align: center;
    }
    .up{
      padding: 0;
      width: 400px;
      height: 300px;
    }

    .left{
      padding: 0;
      width: 400px;
      height: 300px;
    }

    .right{
      padding: 0;
      width: 400px;
      height: 300px;
      line-height: 2;
      font-size: 20px;
    }

    .main-center{
      padding:40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
